.winshirt-theme-inherit {
  font-family: inherit;
  color: inherit;
  transition: all .3s ease;
}

.winshirt-lottery-selects {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}


